@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');

/* section {
    padding-top: 120px;
    padding-bottom: 120px;
} */

#about .divider {
    width: 60px;
    height: 2px;
    display: block;
}
#detail img {
    width: 500px;
    height: 550px;
}

#konsultasi img{
    width: 300px;
    height: 300px;
}

/* Slider */
.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Banner.jpg);
}

.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Banner2.png);
}

#heroSlider .bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

#heroSlider h6::after,
#heroSlider h6::before {
    content: " ";
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}

/* About */
#about .divider {
    width: 60px;
    height: 2px;
    display: block;
    background-color: #238E68;
}

/* Features */
#features {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bagroundfeatures.jpg);
}

.feature {
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.feature .feature-icon {
    width: 80px;
    height: 80px;
    background-color: #238E68;
    color: #fff;
    font-size: 28px;
    display: inline-grid;
    align-content: center;
    text-align: center;
}

/* Team */
.team-member img {
    max-width: 140px;
    box-shadow: -10px -10px 0 #238E68;
    border-radius: 100px;
}

/* Footer */
footer {
    background: linear-gradient(#238E68, rgba(0, 24, 3, 0.7));
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-top {
    margin-bottom: 30px;
}

footer p,
footer a{
    color: rgba(255, 255, 255, 0.75);
}

footer .social-links a {
    font-size: 24px;
    margin-right: 10px;
}

footer img {
    max-width: 175px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

/* location */
#location{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Location.png);
}